In [2]:
import numpy as np
import pandas as pd

In [6]:
ser1 = pd.Series([10, 20, 30])

In [7]:
ser1

0    10
1    20
2    30
dtype: int64

In [10]:
ser1.index = ['a','b','c']

In [11]:
ser1

a    10
b    20
c    30
dtype: int64

In [13]:
ser2 = pd.Series({'a':100, 'b':200, 'c':300})
ser2

a    100
b    200
c    300
dtype: int64

In [15]:
ser3 = pd.Series(data=[1,2,3,4], index=['USA','Germany', 'France', 'Japan'])
ser3

USA        1
Germany    2
France     3
Japan      4
dtype: int64

In [16]:
ser4 = pd.Series([1,2,5,4], index = ['USA','Germany', 'Italy', 'Japan'])
ser4

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [17]:
ser3+ser4

France     NaN
Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
dtype: float64

In [18]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [22]:
df = pd.read_csv('gapminder.csv')

In [23]:
df['income'][:5]

0    603.0
1    603.0
2    603.0
3    603.0
4    603.0
Name: income, dtype: float64

In [25]:
df

           Country  Year       life population  income                 region
0      Afghanistan  1800  28.211000    3280000   603.0             South Asia
1      Afghanistan  1801  28.200753        NaN   603.0             South Asia
2      Afghanistan  1802  28.190507        NaN   603.0             South Asia
3      Afghanistan  1803  28.180260        NaN   603.0             South Asia
4      Afghanistan  1804  28.170013        NaN   603.0             South Asia
5      Afghanistan  1805  28.159767        NaN   603.0             South Asia
6      Afghanistan  1806  28.149520        NaN   603.0             South Asia
7      Afghanistan  1807  28.139273        NaN   603.0             South Asia
8      Afghanistan  1808  28.129027        NaN   603.0             South Asia
9      Afghanistan  1809  28.118780        NaN   603.0             South Asia
10     Afghanistan  1810  28.108533    3280000   604.0             South Asia
11     Afghanistan  1811  28.098287        NaN   604.0             South Asia
12     Afghanistan  1812  28.088040        NaN   604.0             South Asia
13     Afghanistan  1813  28.077793        NaN   604.0             South Asia
14     Afghanistan  1814  28.067547        NaN   604.0             South Asia
15     Afghanistan  1815  28.057300        NaN   604.0             South Asia
16     Afghanistan  1816  28.047053        NaN   604.0             South Asia
17     Afghanistan  1817  28.036807        NaN   604.0             South Asia
18     Afghanistan  1818  28.026560        NaN   604.0             South Asia
19     Afghanistan  1819  28.016313        NaN   604.0             South Asia
20     Afghanistan  1820  28.006067    3323519   604.0             South Asia
21     Afghanistan  1821  27.995820        NaN   607.0             South Asia
22     Afghanistan  1822  27.985573        NaN   609.0             South Asia
23     Afghanistan  1823  27.975327        NaN   611.0             South Asia
24     Afghanistan  1824  27.965080        NaN   613.0             South Asia
25     Afghanistan  1825  27.954833        NaN   615.0             South Asia
26     Afghanistan  1826  27.944587        NaN   617.0             South Asia
27     Afghanistan  1827  27.934340        NaN   619.0             South Asia
28     Afghanistan  1828  27.924093        NaN   621.0             South Asia
29     Afghanistan  1829  27.913847        NaN   623.0             South Asia
...            ...   ...        ...        ...     ...                    ...
41254     Zimbabwe  1996  56.200000   11877664  2619.0     Sub-Saharan Africa
41255     Zimbabwe  1997  54.800000   12059858  2645.0     Sub-Saharan Africa
41256     Zimbabwe  1998  53.500000   12226742  2680.0     Sub-Saharan Africa
41257     Zimbabwe  1999  52.200000   12374019  2625.0     Sub-Saharan Africa
41258     Zimbabwe  2000  50.800000   12499981  2521.0     Sub-Saharan Africa
41259     Zimbabwe  2001  49.800000   12603988  2540.0     Sub-Saharan Africa
41260     Zimbabwe  2002  48.900000   12691431  2304.0     Sub-Saharan Africa
41261     Zimbabwe  2003  48.300000   12774162  1908.0     Sub-Saharan Africa
41262     Zimbabwe  2004  47.800000   12867828  1794.0     Sub-Saharan Africa
41263     Zimbabwe  2005  47.700000   12984418  1689.0     Sub-Saharan Africa
41264     Zimbabwe  2006  47.800000   13127942  1629.0     Sub-Saharan Africa
41265     Zimbabwe  2007  48.400000   13297798  1568.0     Sub-Saharan Africa
41266     Zimbabwe  2008  49.000000   13495462  1286.0     Sub-Saharan Africa
41267     Zimbabwe  2009  49.600000   13720997  1352.0     Sub-Saharan Africa
41268     Zimbabwe  2010  50.400000   13973897  1484.0     Sub-Saharan Africa
41269     Zimbabwe  2011  51.900000   14255592  1626.0     Sub-Saharan Africa
41270     Zimbabwe  2012  54.100000   14565482  1750.0     Sub-Saharan Africa
41271     Zimbabwe  2013  56.000000   14898092  1773.0     Sub-Saharan Africa
41272     Zimbabwe  2014  57.970000   15245855  1773.0     Sub-Saharan Africa
41273     Zimbabwe  2015  60.010000   15602751  1801.0     Sub-Saharan Africa
41274        Åland  1988  78.900000      24229     NaN  Europe & Central Asia
41275        Åland  1989  81.000000      24416     NaN  Europe & Central Asia
41276        Åland  1990  78.250000      24579     NaN  Europe & Central Asia
41277        Åland  1991  80.000000      24719     NaN  Europe & Central Asia
41278        Åland  1992  80.830000      24834     NaN  Europe & Central Asia
41279        Åland  1993  81.800000      24950     NaN  Europe & Central Asia
41280        Åland  1994  80.630000      25066     NaN  Europe & Central Asia
41281        Åland  1995  79.880000      25183     NaN  Europe & Central Asia
41282        Åland  1996  80.000000      25301     NaN  Europe & Central Asia
41283        Åland  1997  80.100000      25419     NaN  Europe & Central Asia

[41284 rows x 6 columns]

In [26]:
df['income'] * df ['population']

TypeError: can't multiply sequence by non-int of type 'float'

In [29]:
df['lifeincome'] =  df['life'] * df ['income']

In [36]:
#df.drop(labels='lifeincome', axis=1)
#df = df.drop(labels='lifeincome', axis=1)
df.drop(labels='lifeincome', inplace=True)

KeyError: "['lifeincome'] not found in axis"

           Country  Year       life population  income                 region
0      Afghanistan  1800  28.211000    3280000   603.0             South Asia
1      Afghanistan  1801  28.200753        NaN   603.0             South Asia
2      Afghanistan  1802  28.190507        NaN   603.0             South Asia
3      Afghanistan  1803  28.180260        NaN   603.0             South Asia
4      Afghanistan  1804  28.170013        NaN   603.0             South Asia
5      Afghanistan  1805  28.159767        NaN   603.0             South Asia
6      Afghanistan  1806  28.149520        NaN   603.0             South Asia
7      Afghanistan  1807  28.139273        NaN   603.0             South Asia
8      Afghanistan  1808  28.129027        NaN   603.0             South Asia
9      Afghanistan  1809  28.118780        NaN   603.0             South Asia
10     Afghanistan  1810  28.108533    3280000   604.0             South Asia
11     Afghanistan  1811  28.098287        NaN   604.0             South Asia
12     Afghanistan  1812  28.088040        NaN   604.0             South Asia
13     Afghanistan  1813  28.077793        NaN   604.0             South Asia
14     Afghanistan  1814  28.067547        NaN   604.0             South Asia
15     Afghanistan  1815  28.057300        NaN   604.0             South Asia
16     Afghanistan  1816  28.047053        NaN   604.0             South Asia
17     Afghanistan  1817  28.036807        NaN   604.0             South Asia
18     Afghanistan  1818  28.026560        NaN   604.0             South Asia
19     Afghanistan  1819  28.016313        NaN   604.0             South Asia
20     Afghanistan  1820  28.006067    3323519   604.0             South Asia
21     Afghanistan  1821  27.995820        NaN   607.0             South Asia
22     Afghanistan  1822  27.985573        NaN   609.0             South Asia
23     Afghanistan  1823  27.975327        NaN   611.0             South Asia
24     Afghanistan  1824  27.965080        NaN   613.0             South Asia
25     Afghanistan  1825  27.954833        NaN   615.0             South Asia
26     Afghanistan  1826  27.944587        NaN   617.0             South Asia
27     Afghanistan  1827  27.934340        NaN   619.0             South Asia
28     Afghanistan  1828  27.924093        NaN   621.0             South Asia
29     Afghanistan  1829  27.913847        NaN   623.0             South Asia
...            ...   ...        ...        ...     ...                    ...
41254     Zimbabwe  1996  56.200000   11877664  2619.0     Sub-Saharan Africa
41255     Zimbabwe  1997  54.800000   12059858  2645.0     Sub-Saharan Africa
41256     Zimbabwe  1998  53.500000   12226742  2680.0     Sub-Saharan Africa
41257     Zimbabwe  1999  52.200000   12374019  2625.0     Sub-Saharan Africa
41258     Zimbabwe  2000  50.800000   12499981  2521.0     Sub-Saharan Africa
41259     Zimbabwe  2001  49.800000   12603988  2540.0     Sub-Saharan Africa
41260     Zimbabwe  2002  48.900000   12691431  2304.0     Sub-Saharan Africa
41261     Zimbabwe  2003  48.300000   12774162  1908.0     Sub-Saharan Africa
41262     Zimbabwe  2004  47.800000   12867828  1794.0     Sub-Saharan Africa
41263     Zimbabwe  2005  47.700000   12984418  1689.0     Sub-Saharan Africa
41264     Zimbabwe  2006  47.800000   13127942  1629.0     Sub-Saharan Africa
41265     Zimbabwe  2007  48.400000   13297798  1568.0     Sub-Saharan Africa
41266     Zimbabwe  2008  49.000000   13495462  1286.0     Sub-Saharan Africa
41267     Zimbabwe  2009  49.600000   13720997  1352.0     Sub-Saharan Africa
41268     Zimbabwe  2010  50.400000   13973897  1484.0     Sub-Saharan Africa
41269     Zimbabwe  2011  51.900000   14255592  1626.0     Sub-Saharan Africa
41270     Zimbabwe  2012  54.100000   14565482  1750.0     Sub-Saharan Africa
41271     Zimbabwe  2013  56.000000   14898092  1773.0     Sub-Saharan Africa
41272     Zimbabwe  2014  57.970000   15245855  1773.0     Sub-Saharan Africa
41273     Zimbabwe  2015  60.010000   15602751  1801.0     Sub-Saharan Africa
41274        Åland  1988  78.900000      24229     NaN  Europe & Central Asia
41275        Åland  1989  81.000000      24416     NaN  Europe & Central Asia
41276        Åland  1990  78.250000      24579     NaN  Europe & Central Asia
41277        Åland  1991  80.000000      24719     NaN  Europe & Central Asia
41278        Åland  1992  80.830000      24834     NaN  Europe & Central Asia
41279        Åland  1993  81.800000      24950     NaN  Europe & Central Asia
41280        Åland  1994  80.630000      25066     NaN  Europe & Central Asia
41281        Åland  1995  79.880000      25183     NaN  Europe & Central Asia
41282        Åland  1996  80.000000      25301     NaN  Europe & Central Asia
41283        Åland  1997  80.100000      25419     NaN  Europe & Central Asia

[41284 rows x 6 columns]

In [37]:
df.head()

       Country  Year       life population  income      region
0  Afghanistan  1800  28.211000    3280000   603.0  South Asia
1  Afghanistan  1801  28.200753        NaN   603.0  South Asia
2  Afghanistan  1802  28.190507        NaN   603.0  South Asia
3  Afghanistan  1803  28.180260        NaN   603.0  South Asia
4  Afghanistan  1804  28.170013        NaN   603.0  South Asia

In [38]:
df.loc[3]

Country       Afghanistan
Year                 1803
life              28.1803
population            NaN
income                603
region         South Asia
Name: 3, dtype: object

In [41]:
df.loc[5, 'Country']

'Afghanistan'

In [42]:
df.loc[[10,100,1000], ['region', 'Country']]

          region              Country
10    South Asia          Afghanistan
100   South Asia          Afghanistan
1000     America  Antigua and Barbuda

In [43]:
df[df['income']>50000]

,Country,Year,life,population,income,region
5369,Brunei,1950,57.21340,48001,54271.0,East Asia & Pacific
5370,Brunei,1951,57.53478,50971,55126.0,East Asia & Pacific
5371,Brunei,1952,58.16016,53932,55994.0,East Asia & Pacific
5372,Brunei,1953,58.78754,"56,958",56876.0,East Asia & Pacific
5373,Brunei,1954,59.41892,60104,57771.0,East Asia & Pacific
5374,Brunei,1955,60.05130,63401,58680.0,East Asia & Pacific
5375,Brunei,1956,60.68668,66859,59604.0,East Asia & Pacific
5376,Brunei,1957,61.32206,70465,60541.0,East Asia & Pacific
5377,Brunei,1958,61.95544,74189,61493.0,East Asia & Pacific
5378,Brunei,1959,62.58182,77989,62460.0,East Asia & Pacific
5379,Brunei,1960,63.19720,81825,63442.0,East Asia & Pacific
5380,Brunei,1961,63.79658,85687,64439.0,East Asia & Pacific
5381,Brunei,1962,64.37396,89603,65451.0,East Asia & Pacific
5382,Brunei,1963,64.92634,93650,66479.0,East Asia & Pacific
5383,Brunei,1964,65.45172,97933,67522.0,East Asia & Pacific
5384,Brunei,1965,65.95010,102525,68582.0,East Asia & Pacific
5385,Brunei,1966,66.42748,107450,69658.0,East Asia & Pacific
5386,Brunei,1967,66.88586,112680,70751.0,East Asia & Pacific
5387,Brunei,1968,67.33324,118176,71861.0,East Asia & Pacific
5388,Brunei,1969,67.77062,123875,72988.0,East Asia & Pacific
5389,Brunei,1970,68.20000,129729,74132.0,East Asia & Pacific
5390,Brunei,1971,69.00000,135716,78230.0,East Asia & Pacific
5391,Brunei,1972,69.80000,141836,82612.0,East Asia & Pacific
5392,Brunei,1973,70.60000,"148,067",86923.0,East Asia & Pacific
5393,Brunei,1974,71.10000,154395,93231.0,East Asia & Pacific
5394,Brunei,1975,71.20000,160799,89842.0,East Asia & Pacific
5395,Brunei,1976,71.20000,167283,103744.0,East Asia & Pacific
5396,Brunei,1977,71.10000,173826,110729.0,East Asia & Pacific
5397,Brunei,1978,70.90000,180357,113988.0,East Asia & Pacific
5398,Brunei,1979,71.00000,186786,134864.0,East Asia & Pacific
...,...,...,...,...,...,...
38681,United Arab Emirates,1993,72.60000,2127863,103224.0,Middle East & North Africa
38682,United Arab Emirates,1994,72.70000,2238281,104855.0,Middle East & North Africa
38683,United Arab Emirates,1995,72.80000,2350192,106425.0,Middle East & North Africa
38684,United Arab Emirates,1996,72.90000,2467726,106923.0,Middle East & North Africa
38685,United Arab Emirates,1997,73.10000,2595220,109553.0,Middle East & North Africa
38686,United Arab Emirates,1998,73.30000,2733770,104107.0,Middle East & North Africa
38687,United Arab Emirates,1999,73.50000,2884188,101940.0,Middle East & North Africa
38688,United Arab Emirates,2000,73.80000,3050128,108048.0,Middle East & North Africa
38689,United Arab Emirates,2001,74.00000,3217865,105860.0,Middle East & North Africa
38690,United Arab Emirates,2002,74.30000,3394060,105346.0,Middle East & North Africa
38691,United Arab Emirates,2003,74.60000,3625798,109675.0,Middle East & North Africa
38692,United Arab Emirates,2004,74.90000,3975945,110662.0,Middle East & North Africa
38693,United Arab Emirates,2005,75.30000,4481976,102324.0,Middle East & North Africa
38694,United Arab Emirates,2006,75.60000,5171255,95637.0,Middle East & North Africa
38695,United Arab Emirates,2007,75.80000,6010100,82993.0,Middle East & North Africa
38696,United Arab Emirates,2008,76.00000,6900142,73029.0,Middle East & North Africa
38697,United Arab Emirates,2009,76.10000,7705423,60955.0,Middle East & North Africa
38698,United Arab Emirates,2010,76.20000,8329453,56644.0,Middle East & North Africa
38699,United Arab Emirates,2011,76.20000,8734722,56192.0,Middle East & North Africa
38700,United Arab Emirates,2012,76.30000,8952542,57028.0,Middle East & North Africa
38701,United Arab Emirates,2013,76.40000,9039978,59092.0,Middle East & North Africa
38702,United Arab Emirates,2014,76.50000,9086139,60578.0,Middle East & North Africa
38703,United Arab Emirates,2015,76.60000,9156963,60749.0,Middle East & North Africa
39126,United States,2006,77.80000,"298,860,519",50599.0,America
39127,United States,2007,78.10000,"301,655,953",51011.0,America
39128,United States,2008,78.20000,"304,473,143",50384.0,America
39132,United States,2012,78.80000,"314,799,465",50549.0,America
39133,United States,2013,78.90000,"317,135,919",51282.0,America
39134,United States,2014,79.00000,"319,448,634",52118.0,America
39135,United States,2015,79.10000,"321,773,631",53354.0,America

In [45]:
df[((df['income']>50000) & (df['life'] > 80))]

,Country,Year,life,population,income,region
19722,Kuwait,2012,80.1,3419581,81080.0,Middle East & North Africa
19723,Kuwait,2013,80.3,3593689,79395.0,Middle East & North Africa
19724,Kuwait,2014,80.5,3753121,83394.0,Middle East & North Africa
19725,Kuwait,2015,80.7,3892115,82633.0,Middle East & North Africa
21228,Luxembourg,2006,80.1,465546,91810.0,Europe & Central Asia
21229,Luxembourg,2007,80.4,474705,96245.0,Europe & Central Asia
21230,Luxembourg,2008,80.7,485079,95001.0,Europe & Central Asia
21231,Luxembourg,2009,80.9,496257,88284.0,Europe & Central Asia
21232,Luxembourg,2010,81.0,507889,91147.0,Europe & Central Asia
21233,Luxembourg,2011,81.1,519981,91469.0,Europe & Central Asia
21234,Luxembourg,2012,81.1,532479,89153.0,Europe & Central Asia
21235,Luxembourg,2013,81.1,544885,88850.0,Europe & Central Asia
21236,Luxembourg,2014,81.1,556573,88203.0,Europe & Central Asia
21237,Luxembourg,2015,81.1,567110,88314.0,Europe & Central Asia
21442,"Macao, China",2004,80.4,458579,60450.0,East Asia & Pacific
27698,Norway,2005,80.1,"4,624,388",63573.0,Europe & Central Asia
27699,Norway,2006,80.4,"4,667,105",64573.0,Europe & Central Asia
27700,Norway,2007,80.6,"4,716,584",65781.0,Europe & Central Asia
27701,Norway,2008,80.7,"4,771,633",65216.0,Europe & Central Asia
27702,Norway,2009,80.8,"4,830,371",63354.0,Europe & Central Asia
27703,Norway,2010,80.9,"4,891,251",62946.0,Europe & Central Asia
27704,Norway,2011,81.1,"4,953,945",62737.0,Europe & Central Asia
27705,Norway,2012,81.3,"5,018,367",63620.0,Europe & Central Asia
27706,Norway,2013,81.4,"5,083,450",63322.0,Europe & Central Asia
27707,Norway,2014,81.5,"5,147,970",64020.0,Europe & Central Asia
27708,Norway,2015,81.6,"5,210,967",64304.0,Europe & Central Asia
30066,Qatar,2008,80.4,1388962,126076.0,Middle East & North Africa
30067,Qatar,2009,80.9,1591151,122655.0,Middle East & North Africa
30068,Qatar,2010,81.3,1765513,127984.0,Middle East & North Africa
30069,Qatar,2011,81.6,1905437,133734.0,Middle East & North Africa
30070,Qatar,2012,81.7,2015624,130990.0,Middle East & North Africa
30071,Qatar,2013,81.8,2101288,131579.0,Middle East & North Africa
30072,Qatar,2014,81.9,2172065,133563.0,Middle East & North Africa
30073,Qatar,2015,82.0,2235355,132877.0,Middle East & North Africa
32644,Singapore,2005,80.2,4495531,61921.0,East Asia & Pacific
32645,Singapore,2006,80.4,4614637,65331.0,East Asia & Pacific
32646,Singapore,2007,80.7,4732785,68375.0,East Asia & Pacific
32647,Singapore,2008,80.9,4849641,65991.0,East Asia & Pacific
32648,Singapore,2009,81.2,4965105,63644.0,East Asia & Pacific
32649,Singapore,2010,81.5,5078961,72056.0,East Asia & Pacific
32650,Singapore,2011,81.8,5190666,74949.0,East Asia & Pacific
32651,Singapore,2012,81.8,5299524,75630.0,East Asia & Pacific
32652,Singapore,2013,81.9,5405009,77721.0,East Asia & Pacific
32653,Singapore,2014,82.0,5506586,78958.0,East Asia & Pacific
32654,Singapore,2015,82.1,5603740,80794.0,East Asia & Pacific
35452,Switzerland,2005,81.2,"7,408,608",51069.0,Europe & Central Asia
35453,Switzerland,2006,81.5,"7,480,317",52786.0,Europe & Central Asia
35454,Switzerland,2007,81.7,"7,560,141",54483.0,Europe & Central Asia
35455,Switzerland,2008,81.9,"7,646,542",55020.0,Europe & Central Asia
35456,Switzerland,2009,82.1,"7,737,316",53179.0,Europe & Central Asia
35457,Switzerland,2010,82.3,"7,830,534",54183.0,Europe & Central Asia
35458,Switzerland,2011,82.5,"7,925,813",54551.0,Europe & Central Asia
35459,Switzerland,2012,82.6,"8,022,628",54573.0,Europe & Central Asia
35460,Switzerland,2013,82.7,"8,118,719",54983.0,Europe & Central Asia
35461,Switzerland,2014,82.8,"8,211,383",55776.0,Europe & Central Asia
35462,Switzerland,2015,82.9,"8,298,663",56118.0,Europe & Central Asia

In [46]:
arr = [1,2,3,4,5]

In [47]:
arr[x in x>3]

NameError: name 'x' is not defined

In [48]:
arr[>3]

SyntaxError: invalid syntax (<ipython-input-48-6b321340ea3f>, line 1)

In [51]:
arr = [{'a':1}, {'a':2}]
arr[arr['a'>1]]

TypeError: '>' not supported between instances of 'str' and 'int'

In [52]:
df.head()

       Country  Year       life population  income      region
0  Afghanistan  1800  28.211000    3280000   603.0  South Asia
1  Afghanistan  1801  28.200753        NaN   603.0  South Asia
2  Afghanistan  1802  28.190507        NaN   603.0  South Asia
3  Afghanistan  1803  28.180260        NaN   603.0  South Asia
4  Afghanistan  1804  28.170013        NaN   603.0  South Asia

In [53]:
df.set_index('Year')

          Country       life population  income                 region
Year
1800  Afghanistan  28.211000    3280000   603.0             South Asia
1801  Afghanistan  28.200753        NaN   603.0             South Asia
1802  Afghanistan  28.190507        NaN   603.0             South Asia
1803  Afghanistan  28.180260        NaN   603.0             South Asia
1804  Afghanistan  28.170013        NaN   603.0             South Asia
1805  Afghanistan  28.159767        NaN   603.0             South Asia
1806  Afghanistan  28.149520        NaN   603.0             South Asia
1807  Afghanistan  28.139273        NaN   603.0             South Asia
1808  Afghanistan  28.129027        NaN   603.0             South Asia
1809  Afghanistan  28.118780        NaN   603.0             South Asia
1810  Afghanistan  28.108533    3280000   604.0             South Asia
1811  Afghanistan  28.098287        NaN   604.0             South Asia
1812  Afghanistan  28.088040        NaN   604.0             South Asia
1813  Afghanistan  28.077793        NaN   604.0             South Asia
1814  Afghanistan  28.067547        NaN   604.0             South Asia
1815  Afghanistan  28.057300        NaN   604.0             South Asia
1816  Afghanistan  28.047053        NaN   604.0             South Asia
1817  Afghanistan  28.036807        NaN   604.0             South Asia
1818  Afghanistan  28.026560        NaN   604.0             South Asia
1819  Afghanistan  28.016313        NaN   604.0             South Asia
1820  Afghanistan  28.006067    3323519   604.0             South Asia
1821  Afghanistan  27.995820        NaN   607.0             South Asia
1822  Afghanistan  27.985573        NaN   609.0             South Asia
1823  Afghanistan  27.975327        NaN   611.0             South Asia
1824  Afghanistan  27.965080        NaN   613.0             South Asia
1825  Afghanistan  27.954833        NaN   615.0             South Asia
1826  Afghanistan  27.944587        NaN   617.0             South Asia
1827  Afghanistan  27.934340        NaN   619.0             South Asia
1828  Afghanistan  27.924093        NaN   621.0             South Asia
1829  Afghanistan  27.913847        NaN   623.0             South Asia
...           ...        ...        ...     ...                    ...
1996     Zimbabwe  56.200000   11877664  2619.0     Sub-Saharan Africa
1997     Zimbabwe  54.800000   12059858  2645.0     Sub-Saharan Africa
1998     Zimbabwe  53.500000   12226742  2680.0     Sub-Saharan Africa
1999     Zimbabwe  52.200000   12374019  2625.0     Sub-Saharan Africa
2000     Zimbabwe  50.800000   12499981  2521.0     Sub-Saharan Africa
2001     Zimbabwe  49.800000   12603988  2540.0     Sub-Saharan Africa
2002     Zimbabwe  48.900000   12691431  2304.0     Sub-Saharan Africa
2003     Zimbabwe  48.300000   12774162  1908.0     Sub-Saharan Africa
2004     Zimbabwe  47.800000   12867828  1794.0     Sub-Saharan Africa
2005     Zimbabwe  47.700000   12984418  1689.0     Sub-Saharan Africa
2006     Zimbabwe  47.800000   13127942  1629.0     Sub-Saharan Africa
2007     Zimbabwe  48.400000   13297798  1568.0     Sub-Saharan Africa
2008     Zimbabwe  49.000000   13495462  1286.0     Sub-Saharan Africa
2009     Zimbabwe  49.600000   13720997  1352.0     Sub-Saharan Africa
2010     Zimbabwe  50.400000   13973897  1484.0     Sub-Saharan Africa
2011     Zimbabwe  51.900000   14255592  1626.0     Sub-Saharan Africa
2012     Zimbabwe  54.100000   14565482  1750.0     Sub-Saharan Africa
2013     Zimbabwe  56.000000   14898092  1773.0     Sub-Saharan Africa
2014     Zimbabwe  57.970000   15245855  1773.0     Sub-Saharan Africa
2015     Zimbabwe  60.010000   15602751  1801.0     Sub-Saharan Africa
1988        Åland  78.900000      24229     NaN  Europe & Central Asia
1989        Åland  81.000000      24416     NaN  Europe & Central Asia
1990        Åland  78.250000      24579     NaN  Europe & Central Asia
1991        Åland  80.000000      24719     NaN  Europe & Central Asia
1992        Åland  80.830000      24834     NaN  Europe & Central Asia
1993        Åland  81.800000      24950     NaN  Europe & Central Asia
1994        Åland  80.630000      25066     NaN  Europe & Central Asia
1995        Åland  79.880000      25183     NaN  Europe & Central Asia
1996        Åland  80.000000      25301     NaN  Europe & Central Asia
1997        Åland  80.100000      25419     NaN  Europe & Central Asia

[41284 rows x 5 columns]

In [54]:
df.reset_index()

,index,Country,Year,life,population,income,region
0,0,Afghanistan,1800,28.211000,3280000,603.0,South Asia
1,1,Afghanistan,1801,28.200753,NaN,603.0,South Asia
2,2,Afghanistan,1802,28.190507,NaN,603.0,South Asia
3,3,Afghanistan,1803,28.180260,NaN,603.0,South Asia
4,4,Afghanistan,1804,28.170013,NaN,603.0,South Asia
5,5,Afghanistan,1805,28.159767,NaN,603.0,South Asia
6,6,Afghanistan,1806,28.149520,NaN,603.0,South Asia
7,7,Afghanistan,1807,28.139273,NaN,603.0,South Asia
8,8,Afghanistan,1808,28.129027,NaN,603.0,South Asia
9,9,Afghanistan,1809,28.118780,NaN,603.0,South Asia
10,10,Afghanistan,1810,28.108533,3280000,604.0,South Asia
11,11,Afghanistan,1811,28.098287,NaN,604.0,South Asia
12,12,Afghanistan,1812,28.088040,NaN,604.0,South Asia
13,13,Afghanistan,1813,28.077793,NaN,604.0,South Asia
14,14,Afghanistan,1814,28.067547,NaN,604.0,South Asia
15,15,Afghanistan,1815,28.057300,NaN,604.0,South Asia
16,16,Afghanistan,1816,28.047053,NaN,604.0,South Asia
17,17,Afghanistan,1817,28.036807,NaN,604.0,South Asia
18,18,Afghanistan,1818,28.026560,NaN,604.0,South Asia
19,19,Afghanistan,1819,28.016313,NaN,604.0,South Asia
20,20,Afghanistan,1820,28.006067,3323519,604.0,South Asia
21,21,Afghanistan,1821,27.995820,NaN,607.0,South Asia
22,22,Afghanistan,1822,27.985573,NaN,609.0,South Asia
23,23,Afghanistan,1823,27.975327,NaN,611.0,South Asia
24,24,Afghanistan,1824,27.965080,NaN,613.0,South Asia
25,25,Afghanistan,1825,27.954833,NaN,615.0,South Asia
26,26,Afghanistan,1826,27.944587,NaN,617.0,South Asia
27,27,Afghanistan,1827,27.934340,NaN,619.0,South Asia
28,28,Afghanistan,1828,27.924093,NaN,621.0,South Asia
29,29,Afghanistan,1829,27.913847,NaN,623.0,South Asia
...,...,...,...,...,...,...,...
41254,41254,Zimbabwe,1996,56.200000,11877664,2619.0,Sub-Saharan Africa
41255,41255,Zimbabwe,1997,54.800000,12059858,2645.0,Sub-Saharan Africa
41256,41256,Zimbabwe,1998,53.500000,12226742,2680.0,Sub-Saharan Africa
41257,41257,Zimbabwe,1999,52.200000,12374019,2625.0,Sub-Saharan Africa
41258,41258,Zimbabwe,2000,50.800000,12499981,2521.0,Sub-Saharan Africa
41259,41259,Zimbabwe,2001,49.800000,12603988,2540.0,Sub-Saharan Africa
41260,41260,Zimbabwe,2002,48.900000,12691431,2304.0,Sub-Saharan Africa
41261,41261,Zimbabwe,2003,48.300000,12774162,1908.0,Sub-Saharan Africa
41262,41262,Zimbabwe,2004,47.800000,12867828,1794.0,Sub-Saharan Africa
41263,41263,Zimbabwe,2005,47.700000,12984418,1689.0,Sub-Saharan Africa
41264,41264,Zimbabwe,2006,47.800000,13127942,1629.0,Sub-Saharan Africa
41265,41265,Zimbabwe,2007,48.400000,13297798,1568.0,Sub-Saharan Africa
41266,41266,Zimbabwe,2008,49.000000,13495462,1286.0,Sub-Saharan Africa
41267,41267,Zimbabwe,2009,49.600000,13720997,1352.0,Sub-Saharan Africa
41268,41268,Zimbabwe,2010,50.400000,13973897,1484.0,Sub-Saharan Africa
41269,41269,Zimbabwe,2011,51.900000,14255592,1626.0,Sub-Saharan Africa
41270,41270,Zimbabwe,2012,54.100000,14565482,1750.0,Sub-Saharan Africa
41271,41271,Zimbabwe,2013,56.000000,14898092,1773.0,Sub-Saharan Africa
41272,41272,Zimbabwe,2014,57.970000,15245855,1773.0,Sub-Saharan Africa
41273,41273,Zimbabwe,2015,60.010000,15602751,1801.0,Sub-Saharan Africa
41274,41274,Åland,1988,78.900000,24229,NaN,Europe & Central Asia
41275,41275,Åland,1989,81.000000,24416,NaN,Europe & Central Asia
41276,41276,Åland,1990,78.250000,24579,NaN,Europe & Central Asia
41277,41277,Åland,1991,80.000000,24719,NaN,Europe & Central Asia
41278,41278,Åland,1992,80.830000,24834,NaN,Europe & Central Asia
41279,41279,Åland,1993,81.800000,24950,NaN,Europe & Central Asia
41280,41280,Åland,1994,80.630000,25066,NaN,Europe & Central Asia
41281,41281,Åland,1995,79.880000,25183,NaN,Europe & Central Asia
41282,41282,Åland,1996,80.000000,25301,NaN,Europe & Central Asia
41283,41283,Åland,1997,80.100000,25419,NaN,Europe & Central Asia

In [55]:
df['income'].mean()

4570.795213517192

In [57]:
df['income'].fillna(value=0).head()

0    603.0
1    603.0
2    603.0
3    603.0
4    603.0
Name: income, dtype: float64

In [60]:
by_year = df.groupby('Year')
by_year

In [61]:
by_year.mean()

           life        income
Year
1800  31.668949    951.424581
1801  31.629984    951.782123
1802  31.645252    954.849162
1803  31.554687    954.513966
1804  31.627209    956.206704
1805  31.749459    956.620112
1806  31.805775    957.837989
1807  31.760712    957.385475
1808  31.554089    954.055866
1809  31.484243    955.201117
1810  31.706615    959.541899
1811  31.664721    960.418994
1812  31.654957    956.787709
1813  31.649278    956.932961
1814  31.700890    956.849162
1815  31.838818    964.296089
1816  31.817921    962.027933
1817  31.916707    962.905028
1818  31.762287    964.798883
1819  31.671661    963.776536
1820  31.747716    969.311111
1821  31.810631    975.916667
1822  31.917364    979.916667
1823  31.968500    985.622222
1824  31.903563    991.911111
1825  31.859330    996.944444
1826  31.786245   1001.555556
1827  31.824327   1008.700000
1828  31.765700   1013.238889
1829  31.746888   1018.238889
...         ...           ...
1986  66.464056  11702.961749
1987  66.680569  11890.612022
1988  66.898015  11976.273224
1989  67.220893  12261.251366
1990  67.297633  12415.158470
1991  67.446408  12216.355191
1992  67.514138  12329.366120
1993  67.558816  12381.814208
1994  67.348755  12606.770492
1995  67.698332  12877.054645
1996  67.880939  13170.196721
1997  67.978538  13665.803279
1998  68.073446  13931.273224
1999  68.235154  14135.153005
2000  68.428272  14613.480874
2001  68.680482  14752.464481
2002  68.889292  14956.885246
2003  69.108067  15311.021858
2004  69.358779  15999.907104
2005  68.861236  15730.146067
2006  69.179775  16293.213483
2007  69.532022  16809.196629
2008  69.838764  16895.696629
2009  70.167978  16236.528090
2010  70.350000  16535.365169
2011  70.738202  16790.067416
2012  71.037079  16990.162921
2013  71.277528  17125.303371
2014  71.519663  17408.511236
2015  71.763483  17717.382022

[216 rows x 2 columns]

In [62]:
by_year.describe()

     income                                                                 \
      count          mean           std    min      25%      50%       75%
Year
1800  179.0    951.424581    511.542170  350.0   619.50    851.0   1097.00
1801  179.0    951.782123    509.475256  350.0   620.50    853.0   1101.00
1802  179.0    954.849162    520.200345  350.0   622.00    854.0   1105.00
1803  179.0    954.513966    514.489038  350.0   623.50    854.0   1109.50
1804  179.0    956.206704    522.314702  350.0   623.50    854.0   1111.50
1805  179.0    956.620112    516.495560  350.0   624.00    854.0   1114.00
1806  179.0    957.837989    517.808814  350.0   624.50    854.0   1116.00
1807  179.0    957.385475    510.761892  350.0   624.50    854.0   1118.00
1808  179.0    954.055866    491.829658  350.0   624.50    855.0   1120.50
1809  179.0    955.201117    493.842483  350.0   624.50    855.0   1122.50
1810  179.0    959.541899    512.181885  350.0   624.50    855.0   1124.50
1811  179.0    960.418994    511.453127  350.0   624.50    855.0   1127.00
1812  179.0    956.787709    490.198171  351.0   624.50    855.0   1129.50
1813  179.0    956.932961    486.307869  351.0   624.50    856.0   1131.50
1814  179.0    956.849162    481.702114  351.0   624.50    859.0   1133.50
1815  179.0    964.296089    515.821017  351.0   624.50    859.0   1135.50
1816  179.0    962.027933    501.397613  351.0   625.00    859.0   1136.50
1817  179.0    962.905028    502.866923  351.0   625.50    859.0   1137.50
1818  179.0    964.798883    506.626443  351.0   625.50    859.0   1138.00
1819  179.0    963.776536    498.290894  351.0   625.50    860.0   1139.00
1820  180.0    969.311111    511.346031  351.0   626.75    862.0   1168.75
1821  180.0    975.916667    514.892025  351.0   629.75    866.5   1166.75
1822  180.0    979.916667    517.156826  351.0   633.00    875.5   1161.75
1823  180.0    985.622222    525.904957  351.0   634.50    881.5   1156.25
1824  180.0    991.911111    532.958773  351.0   636.75    889.0   1155.25
1825  180.0    996.944444    533.260182  351.0   639.50    895.0   1167.50
1826  180.0   1001.555556    533.106886  351.0   642.00    902.0   1178.25
1827  180.0   1008.700000    547.951726  351.0   645.25    906.0   1190.00
1828  180.0   1013.238889    551.108556  351.0   648.50    910.5   1201.50
1829  180.0   1018.238889    552.391887  351.0   652.25    915.0   1213.25
...     ...           ...           ...    ...      ...      ...       ...
1986  183.0  11702.961749  14206.773367  383.0  2385.50   6065.0  16892.00
1987  183.0  11890.612022  14315.585709  405.0  2314.50   6481.0  17164.50
1988  183.0  11976.273224  13881.818258  441.0  2329.50   6609.0  17546.00
1989  183.0  12261.251366  14475.221891  461.0  2354.50   6643.0  17820.50
1990  183.0  12415.158470  15324.835377  462.0  2354.00   7057.0  17153.00
1991  183.0  12216.355191  15158.488483  439.0  2329.00   6426.0  17328.00
1992  183.0  12329.366120  15659.677444  290.0  2223.00   6346.0  16247.00
1993  183.0  12381.814208  15900.235889  197.0  2177.00   6379.0  15861.00
1994  183.0  12606.770492  16303.139545  153.0  2169.50   6306.0  16003.50
1995  183.0  12877.054645  16673.976062  142.0  2198.00   6209.0  16253.50
1996  183.0  13170.196721  16859.316614  151.0  2251.00   6478.0  16490.50
1997  183.0  13665.803279  17637.815548  289.0  2338.50   6683.0  17442.50
1998  183.0  13931.273224  17806.280743  346.0  2380.00   6879.0  18422.00
1999  183.0  14135.153005  17923.612003  397.0  2505.50   7161.0  18377.00
2000  183.0  14613.480874  18626.636064  473.0  2534.50   7444.0  18087.00
2001  183.0  14752.464481  18587.969612  506.0  2585.50   7699.0  18399.50
2002  183.0  14956.885246  18813.132271  507.0  2629.00   7753.0  19532.50
2003  183.0  15311.021858  19188.162954  474.0  2706.00   8094.0  20178.50
2004  183.0  15999.907104  20047.607073  441.0  2806.00   8468.0  21086.50
2005  178.0  15730.146067  19706.039213  470.0  2711.00   8379.0  19516.75
2006  178.0  16293.213483  20159.319666  499.0  2834.75   8878.0  20961.00
2007  178.0  16809.196629  20184.949829  555.0  2950.00   8943.5  22917.25
2008  178.0  16895.696629  19798.557248  588.0  3078.50   9282.5  23306.25
2009  178.0  16236.528090  18675.028404  607.0  3226.25   9274.5  21037.50
2010  178.0  16535.365169  18929.773519  614.0  3286.25   9973.5  21580.00
2011  178.0  16790.067416  19291.956550  614.0  3420.50  10303.5  22528.50
2012  178.0  16990.162921  19197.856315  616.0  3438.50  10646.0  22984.25
2013  178.0  17125.303371  19189.708867  619.0  3539.25  10800.5  23035.00
2014  178.0  17408.511236  19534.977952  621.0  3658.00  11112.5  23601.50
2015  178.0  17717.382022  19652.783478  624.0  3715.00  11359.5  24290.00

                 life                                                      \
           max  count       mean       std        min      25%        50%
Year
1800    4235.0  191.0  31.668949  3.686649  24.000000  29.2000  32.000000
1801    4161.0  191.0  31.629984  3.680357  24.000000  29.1825  31.999807
1802    4391.0  191.0  31.645252  3.810874  24.000000  29.1325  31.871000
1803    4297.0  191.0  31.554687  3.840814  19.595898  29.1325  31.800000
1804    4502.0  191.0  31.627209  3.810529  23.500000  29.1825  31.800000
1805    4238.0  191.0  31.749459  3.880419  24.000000  29.2000  31.871000
1806    4270.0  191.0  31.805775  3.975613  24.000000  29.2000  31.998840
1807    3914.0  191.0  31.760712  3.847267  24.000000  29.2000  31.998647
1808    3483.0  191.0  31.554089  3.963677  12.484205  29.1825  31.800000
1809    3430.0  191.0  31.484243  3.919840  13.425874  29.0500  31.800000
1810    3927.0  191.0  31.706615  3.746864  24.000000  29.2000  31.990000
1811    3966.0  191.0  31.664721  3.667428  24.000000  29.2000  31.871000
1812    3447.0  191.0  31.654957  3.771850  23.000000  29.2000  31.871000
1813    3423.0  191.0  31.649278  3.682244  24.000000  29.2000  31.871000
1814    3296.0  191.0  31.700890  3.735382  24.000000  29.2000  31.871000
1815    3945.0  191.0  31.838818  3.999723  24.000000  29.2000  31.997100
1816    3748.0  191.0  31.817921  3.982424  24.000000  29.2000  31.871000
1817    3778.0  191.0  31.916707  4.190020  24.000000  29.2000  31.996713
1818    3831.0  191.0  31.762287  4.513029   5.500000  29.2000  31.996520
1819    3645.0  191.0  31.671661  4.520090   1.500000  29.2000  31.996327
1820    3900.0  191.0  31.747716  4.419899   6.500000  29.3000  31.996133
1821    3815.0  191.0  31.810631  3.915529  24.000000  29.3000  31.871000
1822    3843.0  191.0  31.917364  4.147768  24.000000  29.3000  32.000000
1823    4028.0  191.0  31.968500  4.250392  24.000000  29.3000  32.000000
1824    3992.0  191.0  31.903563  4.083594  24.000000  29.3000  32.000000
1825    3883.0  191.0  31.859330  4.040926  24.000000  29.3000  32.000000
1826    3937.0  191.0  31.786245  3.956446  24.000000  29.2000  31.994973
1827    4163.0  191.0  31.824327  4.055129  24.000000  29.2000  31.994780
1828    4245.0  191.0  31.765700  3.867260  24.000000  29.2000  31.994587
1829    4244.0  191.0  31.746888  3.814557  24.000000  29.3000  31.994393
...        ...    ...        ...       ...        ...      ...        ...
1986  100191.0  195.0  66.464056  8.435954  43.500000  60.4000  68.800000
1987  101308.0  195.0  66.680569  8.435360  45.200000  60.6570  69.100000
1988   82687.0  196.0  66.898015  8.446046  46.100000  60.7000  69.350000
1989   92115.0  196.0  67.220893  8.387734  46.500000  61.1750  69.500000
1990  114832.0  196.0  67.297633  8.466721  47.000000  61.2750  69.650000
1991  109658.0  196.0  67.446408  8.535628  47.500000  61.5000  69.700000
1992  107416.0  196.0  67.514138  8.592403  48.000000  61.3750  69.650000
1993  103224.0  196.0  67.558816  8.689801  47.600000  60.9000  69.400000
1994  104855.0  196.0  67.348755  9.787149  15.600000  61.1000  69.500000
1995  106425.0  196.0  67.698332  8.890904  42.000000  61.1750  69.650000
1996  106923.0  196.0  67.880939  8.966218  45.200000  61.1750  70.150000
1997  109553.0  197.0  67.978538  9.224339  36.300000  61.4000  70.300000
1998  107276.0  195.0  68.073446  9.216906  44.800000  60.8500  70.700000
1999  107741.0  195.0  68.235154  9.325802  45.900000  61.1500  71.000000
2000  112238.0  195.0  68.428272  9.397823  45.700000  61.4000  71.300000
2001  112539.0  195.0  68.680482  9.387732  45.800000  61.6500  71.600000
2002  117133.0  195.0  68.889292  9.427670  45.700000  62.0000  71.900000
2003  115622.0  195.0  69.108067  9.429122  44.700000  62.3500  72.000000
2004  126335.0  195.0  69.358779  9.398552  43.900000  62.5000  72.100000
2005  119134.0  178.0  68.861236  9.281402  43.500000  62.0500  71.850000
2006  127563.0  178.0  69.179775  9.130259  44.000000  62.2750  72.100000
2007  126364.0  178.0  69.532022  8.953233  44.400000  62.7500  72.100000
2008  126076.0  178.0  69.838764  8.797599  45.200000  62.7750  72.150000
2009  122655.0  178.0  70.167978  8.623692  46.300000  63.2000  72.500000
2010  127984.0  178.0  70.350000  8.853939  37.000000  63.8000  72.600000
2011  133734.0  178.0  70.738202  8.368741  48.300000  64.1250  72.650000
2012  130990.0  178.0  71.037079  8.242509  48.200000  64.5000  73.050000
2013  131579.0  178.0  71.277528  8.083641  48.300000  64.7500  73.100000
2014  133563.0  178.0  71.519663  7.929609  48.400000  65.0500  73.300000
2015  132877.0  178.0  71.763483  7.781279  48.500000  65.3500  73.500000


            75%        max
Year
1800  33.981085  42.845599
1801  34.022500  40.299989
1802  34.022500  44.372951
1803  33.883505  44.844186
1804  33.947500  42.826120
1805  33.963747  44.270124
1806  34.050000  45.823981
1807  34.050000  43.563085
1808  33.947500  43.546685
1809  33.883514  41.742205
1810  34.022500  43.139155
1811  34.022500  40.088537
1812  33.957500  43.459338
1813  33.947500  43.038369
1814  34.050000  41.735823
1815  34.125000  45.576336
1816  34.050000  46.333030
1817  34.125000  48.867657
1818  34.125000  46.750552
1819  34.125000  45.782055
1820  34.125000  46.962398
1821  34.050000  44.694314
1822  34.125000  48.391858
1823  34.125000  48.760201
1824  34.125000  47.635599
1825  34.050000  49.232521
1826  34.050000  47.628542
1827  34.050000  48.377134
1828  34.050000  46.216428
1829  34.050000  46.286582
...         ...        ...
1986  73.233500  80.100000
1987  73.350000  80.200000
1988  73.617250  80.400000
1989  73.722750  81.000000
1990  73.825000  80.700000
1991  74.025000  80.800000
1992  74.150000  81.000000
1993  74.100000  81.800000
1994  74.200000  81.401000
1995  74.450000  81.679000
1996  74.725000  81.918000
1997  75.100000  82.124000
1998  75.400000  82.310000
1999  75.600000  82.500000
2000  75.850000  82.700000
2001  76.100000  82.900000
2002  76.450000  83.019000
2003  76.787000  83.199000
2004  76.897000  83.378000
2005  75.775000  83.100000
2006  75.950000  83.200000
2007  76.275000  83.400000
2008  76.575000  83.500000
2009  76.700000  83.600000
2010  76.950000  83.700000
2011  76.975000  83.800000
2012  77.450000  83.800000
2013  77.650000  83.900000
2014  77.850000  84.000000
2015  77.975000  84.100000

[216 rows x 16 columns]

In [63]:
df['region'].unique()

array(['South Asia', 'Europe & Central Asia',
       'Middle East & North Africa', 'Sub-Saharan Africa', 'America',
       'East Asia & Pacific'], dtype=object)

In [64]:
df['region'].nunique()

6

In [65]:
df['region'].value_counts()

Sub-Saharan Africa            10562
Europe & Central Asia         10468
America                        7961
East Asia & Pacific            6256
Middle East & North Africa     4309
South Asia                     1728
Name: region, dtype: int64

In [67]:
asia_df = df[df['region'] == 'South Asia']
europe_df = df[df['region'] == 'Europe & Central Asia']
africa_df = df[df['region'] == 'Middle East & North Africa']
america_df = df[df['region'] == 'America']

           Country  Year       life  population   income      region
0      Afghanistan  1800  28.211000     3280000    603.0  South Asia
1      Afghanistan  1801  28.200753         NaN    603.0  South Asia
2      Afghanistan  1802  28.190507         NaN    603.0  South Asia
3      Afghanistan  1803  28.180260         NaN    603.0  South Asia
4      Afghanistan  1804  28.170013         NaN    603.0  South Asia
5      Afghanistan  1805  28.159767         NaN    603.0  South Asia
6      Afghanistan  1806  28.149520         NaN    603.0  South Asia
7      Afghanistan  1807  28.139273         NaN    603.0  South Asia
8      Afghanistan  1808  28.129027         NaN    603.0  South Asia
9      Afghanistan  1809  28.118780         NaN    603.0  South Asia
10     Afghanistan  1810  28.108533     3280000    604.0  South Asia
11     Afghanistan  1811  28.098287         NaN    604.0  South Asia
12     Afghanistan  1812  28.088040         NaN    604.0  South Asia
13     Afghanistan  1813  28.077793         NaN    604.0  South Asia
14     Afghanistan  1814  28.067547         NaN    604.0  South Asia
15     Afghanistan  1815  28.057300         NaN    604.0  South Asia
16     Afghanistan  1816  28.047053         NaN    604.0  South Asia
17     Afghanistan  1817  28.036807         NaN    604.0  South Asia
18     Afghanistan  1818  28.026560         NaN    604.0  South Asia
19     Afghanistan  1819  28.016313         NaN    604.0  South Asia
20     Afghanistan  1820  28.006067     3323519    604.0  South Asia
21     Afghanistan  1821  27.995820         NaN    607.0  South Asia
22     Afghanistan  1822  27.985573         NaN    609.0  South Asia
23     Afghanistan  1823  27.975327         NaN    611.0  South Asia
24     Afghanistan  1824  27.965080         NaN    613.0  South Asia
25     Afghanistan  1825  27.954833         NaN    615.0  South Asia
26     Afghanistan  1826  27.944587         NaN    617.0  South Asia
27     Afghanistan  1827  27.934340         NaN    619.0  South Asia
28     Afghanistan  1828  27.924093         NaN    621.0  South Asia
29     Afghanistan  1829  27.913847         NaN    623.0  South Asia
...            ...   ...        ...         ...      ...         ...
34353    Sri Lanka  1986  71.000000  16,413,729   3115.0  South Asia
34354    Sri Lanka  1987  71.200000  16,648,992   3101.0  South Asia
34355    Sri Lanka  1988  71.200000  16,883,250   3138.0  South Asia
34356    Sri Lanka  1989  71.000000  17,111,785   3178.0  South Asia
34357    Sri Lanka  1990  71.000000  17,330,817   3340.0  South Asia
34358    Sri Lanka  1991  72.400000  17,540,762   3442.0  South Asia
34359    Sri Lanka  1992  72.900000  17,741,793   3561.0  South Asia
34360    Sri Lanka  1993  73.200000  17,929,772   3759.0  South Asia
34361    Sri Lanka  1994  72.900000  18,099,591   3915.0  South Asia
34362    Sri Lanka  1995  72.300000  18,248,435   4075.0  South Asia
34363    Sri Lanka  1996  71.800000  18,373,530   4184.0  South Asia
34364    Sri Lanka  1997  71.800000  18,478,024   4396.0  South Asia
34365    Sri Lanka  1998  72.200000  18,572,347   4550.0  South Asia
34366    Sri Lanka  1999  72.300000  18,670,843   4677.0  South Asia
34367    Sri Lanka  2000  72.400000  18,783,745   4946.0  South Asia
34368    Sri Lanka  2001  72.900000  18,914,866   4949.0  South Asia
34369    Sri Lanka  2002  73.500000  19,061,066   5111.0  South Asia
34370    Sri Lanka  2003  73.900000  19,217,032   5344.0  South Asia
34371    Sri Lanka  2004  73.700000  19,374,281   5559.0  South Asia
34372    Sri Lanka  2005  74.200000  19,526,406   5843.0  South Asia
34373    Sri Lanka  2006  74.400000  19,672,418   6223.0  South Asia
34374    Sri Lanka  2007  75.100000  19,813,816   6586.0  South Asia
34375    Sri Lanka  2008  74.300000  19,949,553   6907.0  South Asia
34376    Sri Lanka  2009  74.500000  20,078,873   7080.0  South Asia
34377    Sri Lanka  2010  75.700000  20,201,312   7572.0  South Asia
34378    Sri Lanka  2011  75.800000  20,315,673   8112.0  South Asia
34379    Sri Lanka  2012  75.900000  20,421,862   8856.0  South Asia
34380    Sri Lanka  2013  76.100000  20,521,959   9426.0  South Asia
34381    Sri Lanka  2014  76.300000  20,618,991  10043.0  South Asia
34382    Sri Lanka  2015  76.500000  20,715,010  10624.0  South Asia

[1728 rows x 6 columns]

In [68]:
asia_df.groupby(by='Year').mean().head()

           life   income
Year
1800  28.974925  821.875
1801  28.973644  822.000
1802  28.917063  822.125
1803  28.790783  822.125
1804  28.727002  822.375