In [2]:
import numpy as np
import pandas as pd

In [6]:
ser1 = pd.Series([10, 20, 30])

In [7]:
ser1

0    10
1    20
2    30
dtype: int64

In [10]:
ser1.index = ['a','b','c']

In [11]:
ser1

a    10
b    20
c    30
dtype: int64

In [13]:
ser2 = pd.Series({'a':100, 'b':200, 'c':300})
ser2

a    100
b    200
c    300
dtype: int64

In [15]:
ser3 = pd.Series(data=[1,2,3,4], index=['USA','Germany', 'France', 'Japan'])
ser3

USA        1
Germany    2
France     3
Japan      4
dtype: int64

In [16]:
ser4 = pd.Series([1,2,5,4], index = ['USA','Germany', 'Italy', 'Japan'])
ser4

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [17]:
ser3+ser4

France     NaN
Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
dtype: float64

In [18]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [22]:
df = pd.read_csv('gapminder.csv')

In [23]:
df['income'][:5]

0    603.0
1    603.0
2    603.0
3    603.0
4    603.0
Name: income, dtype: float64

In [25]:
df

           Country  Year       life population  income                 region
0      Afghanistan  1800  28.211000    3280000   603.0             South Asia
1      Afghanistan  1801  28.200753        NaN   603.0             South Asia
2      Afghanistan  1802  28.190507        NaN   603.0             South Asia
3      Afghanistan  1803  28.180260        NaN   603.0             South Asia
4      Afghanistan  1804  28.170013        NaN   603.0             South Asia
5      Afghanistan  1805  28.159767        NaN   603.0             South Asia
6      Afghanistan  1806  28.149520        NaN   603.0             South Asia
7      Afghanistan  1807  28.139273        NaN   603.0             South Asia
8      Afghanistan  1808  28.129027        NaN   603.0             South Asia
9      Afghanistan  1809  28.118780        NaN   603.0             South Asia
10     Afghanistan  1810  28.108533    3280000   604.0             South Asia
11     Afghanistan  1811  28.098287        NaN   604.0             South Asia
12     Afghanistan  1812  28.088040        NaN   604.0             South Asia
13     Afghanistan  1813  28.077793        NaN   604.0             South Asia
14     Afghanistan  1814  28.067547        NaN   604.0             South Asia
15     Afghanistan  1815  28.057300        NaN   604.0             South Asia
16     Afghanistan  1816  28.047053        NaN   604.0             South Asia
17     Afghanistan  1817  28.036807        NaN   604.0             South Asia
18     Afghanistan  1818  28.026560        NaN   604.0             South Asia
19     Afghanistan  1819  28.016313        NaN   604.0             South Asia
20     Afghanistan  1820  28.006067    3323519   604.0             South Asia
21     Afghanistan  1821  27.995820        NaN   607.0             South Asia
22     Afghanistan  1822  27.985573        NaN   609.0             South Asia
23     Afghanistan  1823  27.975327        NaN   611.0             South Asia
24     Afghanistan  1824  27.965080        NaN   613.0             South Asia
25     Afghanistan  1825  27.954833        NaN   615.0             South Asia
26     Afghanistan  1826  27.944587        NaN   617.0             South Asia
27     Afghanistan  1827  27.934340        NaN   619.0             South Asia
28     Afghanistan  1828  27.924093        NaN   621.0             South Asia
29     Afghanistan  1829  27.913847        NaN   623.0             South Asia
...            ...   ...        ...        ...     ...                    ...
41254     Zimbabwe  1996  56.200000   11877664  2619.0     Sub-Saharan Africa
41255     Zimbabwe  1997  54.800000   12059858  2645.0     Sub-Saharan Africa
41256     Zimbabwe  1998  53.500000   12226742  2680.0     Sub-Saharan Africa
41257     Zimbabwe  1999  52.200000   12374019  2625.0     Sub-Saharan Africa
41258     Zimbabwe  2000  50.800000   12499981  2521.0     Sub-Saharan Africa
41259     Zimbabwe  2001  49.800000   12603988  2540.0     Sub-Saharan Africa
41260     Zimbabwe  2002  48.900000   12691431  2304.0     Sub-Saharan Africa
41261     Zimbabwe  2003  48.300000   12774162  1908.0     Sub-Saharan Africa
41262     Zimbabwe  2004  47.800000   12867828  1794.0     Sub-Saharan Africa
41263     Zimbabwe  2005  47.700000   12984418  1689.0     Sub-Saharan Africa
41264     Zimbabwe  2006  47.800000   13127942  1629.0     Sub-Saharan Africa
41265     Zimbabwe  2007  48.400000   13297798  1568.0     Sub-Saharan Africa
41266     Zimbabwe  2008  49.000000   13495462  1286.0     Sub-Saharan Africa
41267     Zimbabwe  2009  49.600000   13720997  1352.0     Sub-Saharan Africa
41268     Zimbabwe  2010  50.400000   13973897  1484.0     Sub-Saharan Africa
41269     Zimbabwe  2011  51.900000   14255592  1626.0     Sub-Saharan Africa
41270     Zimbabwe  2012  54.100000   14565482  1750.0     Sub-Saharan Africa
41271     Zimbabwe  2013  56.000000   14898092  1773.0     Sub-Saharan Africa
41272     Zimbabwe  2014  57.970000   15245855  1773.0     Sub-Saharan Africa
41273     Zimbabwe  2015  60.010000   15602751  1801.0     Sub-Saharan Africa
41274        Åland  1988  78.900000      24229     NaN  Europe & Central Asia
41275        Åland  1989  81.000000      24416     NaN  Europe & Central Asia
41276        Åland  1990  78.250000      24579     NaN  Europe & Central Asia
41277        Åland  1991  80.000000      24719     NaN  Europe & Central Asia
41278        Åland  1992  80.830000      24834     NaN  Europe & Central Asia
41279        Åland  1993  81.800000      24950     NaN  Europe & Central Asia
41280        Åland  1994  80.630000      25066     NaN  Europe & Central Asia
41281        Åland  1995  79.880000      25183     NaN  Europe & Central Asia
41282        Åland  1996  80.000000      25301     NaN  Europe & Central Asia
41283        Åland  1997  80.100000      25419     NaN  Europe & Central Asia

[41284 rows x 6 columns]

In [26]:
df['income'] * df ['population']

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
df['income'] * df ['population']