In [2]:
import numpy as np
import pandas as pd

In [6]:
ser1 = pd.Series([10, 20, 30])

In [7]:
ser1

0    10
1    20
2    30
dtype: int64

In [10]:
ser1.index = ['a','b','c']

In [11]:
ser1

a    10
b    20
c    30
dtype: int64

In [13]:
ser2 = pd.Series({'a':100, 'b':200, 'c':300})
ser2

a    100
b    200
c    300
dtype: int64

In [15]:
ser3 = pd.Series(data=[1,2,3,4], index=['USA','Germany', 'France', 'Japan'])
ser3

USA        1
Germany    2
France     3
Japan      4
dtype: int64

In [16]:
ser4 = pd.Series([1,2,5,4], index = ['USA','Germany', 'Italy', 'Japan'])
ser4

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [17]:
ser3+ser4

France     NaN
Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
dtype: float64

In [18]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [22]:
df = pd.read_csv('gapminder.csv')

In [23]:
df['income'][:5]

0    603.0
1    603.0
2    603.0
3    603.0
4    603.0
Name: income, dtype: float64

In [25]:
df

           Country  Year       life population  income                 region
0      Afghanistan  1800  28.211000    3280000   603.0             South Asia
1      Afghanistan  1801  28.200753        NaN   603.0             South Asia
2      Afghanistan  1802  28.190507        NaN   603.0             South Asia
3      Afghanistan  1803  28.180260        NaN   603.0             South Asia
4      Afghanistan  1804  28.170013        NaN   603.0             South Asia
5      Afghanistan  1805  28.159767        NaN   603.0             South Asia
6      Afghanistan  1806  28.149520        NaN   603.0             South Asia
7      Afghanistan  1807  28.139273        NaN   603.0             South Asia
8      Afghanistan  1808  28.129027        NaN   603.0             South Asia
9      Afghanistan  1809  28.118780        NaN   603.0             South Asia
10     Afghanistan  1810  28.108533    3280000   604.0             South Asia
11     Afghanistan  1811  28.098287        NaN   604.0             South Asia
12     Afghanistan  1812  28.088040        NaN   604.0             South Asia
13     Afghanistan  1813  28.077793        NaN   604.0             South Asia
14     Afghanistan  1814  28.067547        NaN   604.0             South Asia
15     Afghanistan  1815  28.057300        NaN   604.0             South Asia
16     Afghanistan  1816  28.047053        NaN   604.0             South Asia
17     Afghanistan  1817  28.036807        NaN   604.0             South Asia
18     Afghanistan  1818  28.026560        NaN   604.0             South Asia
19     Afghanistan  1819  28.016313        NaN   604.0             South Asia
20     Afghanistan  1820  28.006067    3323519   604.0             South Asia
21     Afghanistan  1821  27.995820        NaN   607.0             South Asia
22     Afghanistan  1822  27.985573        NaN   609.0             South Asia
23     Afghanistan  1823  27.975327        NaN   611.0             South Asia
24     Afghanistan  1824  27.965080        NaN   613.0             South Asia
25     Afghanistan  1825  27.954833        NaN   615.0             South Asia
26     Afghanistan  1826  27.944587        NaN   617.0             South Asia
27     Afghanistan  1827  27.934340        NaN   619.0             South Asia
28     Afghanistan  1828  27.924093        NaN   621.0             South Asia
29     Afghanistan  1829  27.913847        NaN   623.0             South Asia
...            ...   ...        ...        ...     ...                    ...
41254     Zimbabwe  1996  56.200000   11877664  2619.0     Sub-Saharan Africa
41255     Zimbabwe  1997  54.800000   12059858  2645.0     Sub-Saharan Africa
41256     Zimbabwe  1998  53.500000   12226742  2680.0     Sub-Saharan Africa
41257     Zimbabwe  1999  52.200000   12374019  2625.0     Sub-Saharan Africa
41258     Zimbabwe  2000  50.800000   12499981  2521.0     Sub-Saharan Africa
41259     Zimbabwe  2001  49.800000   12603988  2540.0     Sub-Saharan Africa
41260     Zimbabwe  2002  48.900000   12691431  2304.0     Sub-Saharan Africa
41261     Zimbabwe  2003  48.300000   12774162  1908.0     Sub-Saharan Africa
41262     Zimbabwe  2004  47.800000   12867828  1794.0     Sub-Saharan Africa
41263     Zimbabwe  2005  47.700000   12984418  1689.0     Sub-Saharan Africa
41264     Zimbabwe  2006  47.800000   13127942  1629.0     Sub-Saharan Africa
41265     Zimbabwe  2007  48.400000   13297798  1568.0     Sub-Saharan Africa
41266     Zimbabwe  2008  49.000000   13495462  1286.0     Sub-Saharan Africa
41267     Zimbabwe  2009  49.600000   13720997  1352.0     Sub-Saharan Africa
41268     Zimbabwe  2010  50.400000   13973897  1484.0     Sub-Saharan Africa
41269     Zimbabwe  2011  51.900000   14255592  1626.0     Sub-Saharan Africa
41270     Zimbabwe  2012  54.100000   14565482  1750.0     Sub-Saharan Africa
41271     Zimbabwe  2013  56.000000   14898092  1773.0     Sub-Saharan Africa
41272     Zimbabwe  2014  57.970000   15245855  1773.0     Sub-Saharan Africa
41273     Zimbabwe  2015  60.010000   15602751  1801.0     Sub-Saharan Africa
41274        Åland  1988  78.900000      24229     NaN  Europe & Central Asia
41275        Åland  1989  81.000000      24416     NaN  Europe & Central Asia
41276        Åland  1990  78.250000      24579     NaN  Europe & Central Asia
41277        Åland  1991  80.000000      24719     NaN  Europe & Central Asia
41278        Åland  1992  80.830000      24834     NaN  Europe & Central Asia
41279        Åland  1993  81.800000      24950     NaN  Europe & Central Asia
41280        Åland  1994  80.630000      25066     NaN  Europe & Central Asia
41281        Åland  1995  79.880000      25183     NaN  Europe & Central Asia
41282        Åland  1996  80.000000      25301     NaN  Europe & Central Asia
41283        Åland  1997  80.100000      25419     NaN  Europe & Central Asia

[41284 rows x 6 columns]

In [26]:
df['income'] * df ['population']

TypeError: can't multiply sequence by non-int of type 'float'

In [29]:
df['lifeincome'] =  df['life'] * df ['income']

In [36]:
#df.drop(labels='lifeincome', axis=1)
#df = df.drop(labels='lifeincome', axis=1)
df.drop(labels='lifeincome', inplace=True)

KeyError: "['lifeincome'] not found in axis"

           Country  Year       life population  income                 region
0      Afghanistan  1800  28.211000    3280000   603.0             South Asia
1      Afghanistan  1801  28.200753        NaN   603.0             South Asia
2      Afghanistan  1802  28.190507        NaN   603.0             South Asia
3      Afghanistan  1803  28.180260        NaN   603.0             South Asia
4      Afghanistan  1804  28.170013        NaN   603.0             South Asia
5      Afghanistan  1805  28.159767        NaN   603.0             South Asia
6      Afghanistan  1806  28.149520        NaN   603.0             South Asia
7      Afghanistan  1807  28.139273        NaN   603.0             South Asia
8      Afghanistan  1808  28.129027        NaN   603.0             South Asia
9      Afghanistan  1809  28.118780        NaN   603.0             South Asia
10     Afghanistan  1810  28.108533    3280000   604.0             South Asia
11     Afghanistan  1811  28.098287        NaN   604.0             South Asia
12     Afghanistan  1812  28.088040        NaN   604.0             South Asia
13     Afghanistan  1813  28.077793        NaN   604.0             South Asia
14     Afghanistan  1814  28.067547        NaN   604.0             South Asia
15     Afghanistan  1815  28.057300        NaN   604.0             South Asia
16     Afghanistan  1816  28.047053        NaN   604.0             South Asia
17     Afghanistan  1817  28.036807        NaN   604.0             South Asia
18     Afghanistan  1818  28.026560        NaN   604.0             South Asia
19     Afghanistan  1819  28.016313        NaN   604.0             South Asia
20     Afghanistan  1820  28.006067    3323519   604.0             South Asia
21     Afghanistan  1821  27.995820        NaN   607.0             South Asia
22     Afghanistan  1822  27.985573        NaN   609.0             South Asia
23     Afghanistan  1823  27.975327        NaN   611.0             South Asia
24     Afghanistan  1824  27.965080        NaN   613.0             South Asia
25     Afghanistan  1825  27.954833        NaN   615.0             South Asia
26     Afghanistan  1826  27.944587        NaN   617.0             South Asia
27     Afghanistan  1827  27.934340        NaN   619.0             South Asia
28     Afghanistan  1828  27.924093        NaN   621.0             South Asia
29     Afghanistan  1829  27.913847        NaN   623.0             South Asia
...            ...   ...        ...        ...     ...                    ...
41254     Zimbabwe  1996  56.200000   11877664  2619.0     Sub-Saharan Africa
41255     Zimbabwe  1997  54.800000   12059858  2645.0     Sub-Saharan Africa
41256     Zimbabwe  1998  53.500000   12226742  2680.0     Sub-Saharan Africa
41257     Zimbabwe  1999  52.200000   12374019  2625.0     Sub-Saharan Africa
41258     Zimbabwe  2000  50.800000   12499981  2521.0     Sub-Saharan Africa
41259     Zimbabwe  2001  49.800000   12603988  2540.0     Sub-Saharan Africa
41260     Zimbabwe  2002  48.900000   12691431  2304.0     Sub-Saharan Africa
41261     Zimbabwe  2003  48.300000   12774162  1908.0     Sub-Saharan Africa
41262     Zimbabwe  2004  47.800000   12867828  1794.0     Sub-Saharan Africa
41263     Zimbabwe  2005  47.700000   12984418  1689.0     Sub-Saharan Africa
41264     Zimbabwe  2006  47.800000   13127942  1629.0     Sub-Saharan Africa
41265     Zimbabwe  2007  48.400000   13297798  1568.0     Sub-Saharan Africa
41266     Zimbabwe  2008  49.000000   13495462  1286.0     Sub-Saharan Africa
41267     Zimbabwe  2009  49.600000   13720997  1352.0     Sub-Saharan Africa
41268     Zimbabwe  2010  50.400000   13973897  1484.0     Sub-Saharan Africa
41269     Zimbabwe  2011  51.900000   14255592  1626.0     Sub-Saharan Africa
41270     Zimbabwe  2012  54.100000   14565482  1750.0     Sub-Saharan Africa
41271     Zimbabwe  2013  56.000000   14898092  1773.0     Sub-Saharan Africa
41272     Zimbabwe  2014  57.970000   15245855  1773.0     Sub-Saharan Africa
41273     Zimbabwe  2015  60.010000   15602751  1801.0     Sub-Saharan Africa
41274        Åland  1988  78.900000      24229     NaN  Europe & Central Asia
41275        Åland  1989  81.000000      24416     NaN  Europe & Central Asia
41276        Åland  1990  78.250000      24579     NaN  Europe & Central Asia
41277        Åland  1991  80.000000      24719     NaN  Europe & Central Asia
41278        Åland  1992  80.830000      24834     NaN  Europe & Central Asia
41279        Åland  1993  81.800000      24950     NaN  Europe & Central Asia
41280        Åland  1994  80.630000      25066     NaN  Europe & Central Asia
41281        Åland  1995  79.880000      25183     NaN  Europe & Central Asia
41282        Åland  1996  80.000000      25301     NaN  Europe & Central Asia
41283        Åland  1997  80.100000      25419     NaN  Europe & Central Asia

[41284 rows x 6 columns]

In [37]:
df.head()

       Country  Year       life population  income      region
0  Afghanistan  1800  28.211000    3280000   603.0  South Asia
1  Afghanistan  1801  28.200753        NaN   603.0  South Asia
2  Afghanistan  1802  28.190507        NaN   603.0  South Asia
3  Afghanistan  1803  28.180260        NaN   603.0  South Asia
4  Afghanistan  1804  28.170013        NaN   603.0  South Asia

In [38]:
df.loc[3]

Country       Afghanistan
Year                 1803
life              28.1803
population            NaN
income                603
region         South Asia
Name: 3, dtype: object

In [41]:
df.loc[5, 'Country']

'Afghanistan'

In [42]:
df.loc[[10,100,1000], ['region', 'Country']]

          region              Country
10    South Asia          Afghanistan
100   South Asia          Afghanistan
1000     America  Antigua and Barbuda

In [43]:
df[df['income']>50000]

,Country,Year,life,population,income,region
5369,Brunei,1950,57.21340,48001,54271.0,East Asia & Pacific
5370,Brunei,1951,57.53478,50971,55126.0,East Asia & Pacific
5371,Brunei,1952,58.16016,53932,55994.0,East Asia & Pacific
5372,Brunei,1953,58.78754,"56,958",56876.0,East Asia & Pacific
5373,Brunei,1954,59.41892,60104,57771.0,East Asia & Pacific
5374,Brunei,1955,60.05130,63401,58680.0,East Asia & Pacific
5375,Brunei,1956,60.68668,66859,59604.0,East Asia & Pacific
5376,Brunei,1957,61.32206,70465,60541.0,East Asia & Pacific
5377,Brunei,1958,61.95544,74189,61493.0,East Asia & Pacific
5378,Brunei,1959,62.58182,77989,62460.0,East Asia & Pacific
5379,Brunei,1960,63.19720,81825,63442.0,East Asia & Pacific
5380,Brunei,1961,63.79658,85687,64439.0,East Asia & Pacific
5381,Brunei,1962,64.37396,89603,65451.0,East Asia & Pacific
5382,Brunei,1963,64.92634,93650,66479.0,East Asia & Pacific
5383,Brunei,1964,65.45172,97933,67522.0,East Asia & Pacific
5384,Brunei,1965,65.95010,102525,68582.0,East Asia & Pacific
5385,Brunei,1966,66.42748,107450,69658.0,East Asia & Pacific
5386,Brunei,1967,66.88586,112680,70751.0,East Asia & Pacific
5387,Brunei,1968,67.33324,118176,71861.0,East Asia & Pacific
5388,Brunei,1969,67.77062,123875,72988.0,East Asia & Pacific
5389,Brunei,1970,68.20000,129729,74132.0,East Asia & Pacific
5390,Brunei,1971,69.00000,135716,78230.0,East Asia & Pacific
5391,Brunei,1972,69.80000,141836,82612.0,East Asia & Pacific
5392,Brunei,1973,70.60000,"148,067",86923.0,East Asia & Pacific
5393,Brunei,1974,71.10000,154395,93231.0,East Asia & Pacific
5394,Brunei,1975,71.20000,160799,89842.0,East Asia & Pacific
5395,Brunei,1976,71.20000,167283,103744.0,East Asia & Pacific
5396,Brunei,1977,71.10000,173826,110729.0,East Asia & Pacific
5397,Brunei,1978,70.90000,180357,113988.0,East Asia & Pacific
5398,Brunei,1979,71.00000,186786,134864.0,East Asia & Pacific
...,...,...,...,...,...,...
38681,United Arab Emirates,1993,72.60000,2127863,103224.0,Middle East & North Africa
38682,United Arab Emirates,1994,72.70000,2238281,104855.0,Middle East & North Africa
38683,United Arab Emirates,1995,72.80000,2350192,106425.0,Middle East & North Africa
38684,United Arab Emirates,1996,72.90000,2467726,106923.0,Middle East & North Africa
38685,United Arab Emirates,1997,73.10000,2595220,109553.0,Middle East & North Africa
38686,United Arab Emirates,1998,73.30000,2733770,104107.0,Middle East & North Africa
38687,United Arab Emirates,1999,73.50000,2884188,101940.0,Middle East & North Africa
38688,United Arab Emirates,2000,73.80000,3050128,108048.0,Middle East & North Africa
38689,United Arab Emirates,2001,74.00000,3217865,105860.0,Middle East & North Africa
38690,United Arab Emirates,2002,74.30000,3394060,105346.0,Middle East & North Africa
38691,United Arab Emirates,2003,74.60000,3625798,109675.0,Middle East & North Africa
38692,United Arab Emirates,2004,74.90000,3975945,110662.0,Middle East & North Africa
38693,United Arab Emirates,2005,75.30000,4481976,102324.0,Middle East & North Africa
38694,United Arab Emirates,2006,75.60000,5171255,95637.0,Middle East & North Africa
38695,United Arab Emirates,2007,75.80000,6010100,82993.0,Middle East & North Africa
38696,United Arab Emirates,2008,76.00000,6900142,73029.0,Middle East & North Africa
38697,United Arab Emirates,2009,76.10000,7705423,60955.0,Middle East & North Africa
38698,United Arab Emirates,2010,76.20000,8329453,56644.0,Middle East & North Africa
38699,United Arab Emirates,2011,76.20000,8734722,56192.0,Middle East & North Africa
38700,United Arab Emirates,2012,76.30000,8952542,57028.0,Middle East & North Africa
38701,United Arab Emirates,2013,76.40000,9039978,59092.0,Middle East & North Africa
38702,United Arab Emirates,2014,76.50000,9086139,60578.0,Middle East & North Africa
38703,United Arab Emirates,2015,76.60000,9156963,60749.0,Middle East & North Africa
39126,United States,2006,77.80000,"298,860,519",50599.0,America
39127,United States,2007,78.10000,"301,655,953",51011.0,America
39128,United States,2008,78.20000,"304,473,143",50384.0,America
39132,United States,2012,78.80000,"314,799,465",50549.0,America
39133,United States,2013,78.90000,"317,135,919",51282.0,America
39134,United States,2014,79.00000,"319,448,634",52118.0,America
39135,United States,2015,79.10000,"321,773,631",53354.0,America

In [45]:
df[((df['income']>50000) & (df['life'] > 80))]

,Country,Year,life,population,income,region
19722,Kuwait,2012,80.1,3419581,81080.0,Middle East & North Africa
19723,Kuwait,2013,80.3,3593689,79395.0,Middle East & North Africa
19724,Kuwait,2014,80.5,3753121,83394.0,Middle East & North Africa
19725,Kuwait,2015,80.7,3892115,82633.0,Middle East & North Africa
21228,Luxembourg,2006,80.1,465546,91810.0,Europe & Central Asia
21229,Luxembourg,2007,80.4,474705,96245.0,Europe & Central Asia
21230,Luxembourg,2008,80.7,485079,95001.0,Europe & Central Asia
21231,Luxembourg,2009,80.9,496257,88284.0,Europe & Central Asia
21232,Luxembourg,2010,81.0,507889,91147.0,Europe & Central Asia
21233,Luxembourg,2011,81.1,519981,91469.0,Europe & Central Asia
21234,Luxembourg,2012,81.1,532479,89153.0,Europe & Central Asia
21235,Luxembourg,2013,81.1,544885,88850.0,Europe & Central Asia
21236,Luxembourg,2014,81.1,556573,88203.0,Europe & Central Asia
21237,Luxembourg,2015,81.1,567110,88314.0,Europe & Central Asia
21442,"Macao, China",2004,80.4,458579,60450.0,East Asia & Pacific
27698,Norway,2005,80.1,"4,624,388",63573.0,Europe & Central Asia
27699,Norway,2006,80.4,"4,667,105",64573.0,Europe & Central Asia
27700,Norway,2007,80.6,"4,716,584",65781.0,Europe & Central Asia
27701,Norway,2008,80.7,"4,771,633",65216.0,Europe & Central Asia
27702,Norway,2009,80.8,"4,830,371",63354.0,Europe & Central Asia
27703,Norway,2010,80.9,"4,891,251",62946.0,Europe & Central Asia
27704,Norway,2011,81.1,"4,953,945",62737.0,Europe & Central Asia
27705,Norway,2012,81.3,"5,018,367",63620.0,Europe & Central Asia
27706,Norway,2013,81.4,"5,083,450",63322.0,Europe & Central Asia
27707,Norway,2014,81.5,"5,147,970",64020.0,Europe & Central Asia
27708,Norway,2015,81.6,"5,210,967",64304.0,Europe & Central Asia
30066,Qatar,2008,80.4,1388962,126076.0,Middle East & North Africa
30067,Qatar,2009,80.9,1591151,122655.0,Middle East & North Africa
30068,Qatar,2010,81.3,1765513,127984.0,Middle East & North Africa
30069,Qatar,2011,81.6,1905437,133734.0,Middle East & North Africa
30070,Qatar,2012,81.7,2015624,130990.0,Middle East & North Africa
30071,Qatar,2013,81.8,2101288,131579.0,Middle East & North Africa
30072,Qatar,2014,81.9,2172065,133563.0,Middle East & North Africa
30073,Qatar,2015,82.0,2235355,132877.0,Middle East & North Africa
32644,Singapore,2005,80.2,4495531,61921.0,East Asia & Pacific
32645,Singapore,2006,80.4,4614637,65331.0,East Asia & Pacific
32646,Singapore,2007,80.7,4732785,68375.0,East Asia & Pacific
32647,Singapore,2008,80.9,4849641,65991.0,East Asia & Pacific
32648,Singapore,2009,81.2,4965105,63644.0,East Asia & Pacific
32649,Singapore,2010,81.5,5078961,72056.0,East Asia & Pacific
32650,Singapore,2011,81.8,5190666,74949.0,East Asia & Pacific
32651,Singapore,2012,81.8,5299524,75630.0,East Asia & Pacific
32652,Singapore,2013,81.9,5405009,77721.0,East Asia & Pacific
32653,Singapore,2014,82.0,5506586,78958.0,East Asia & Pacific
32654,Singapore,2015,82.1,5603740,80794.0,East Asia & Pacific
35452,Switzerland,2005,81.2,"7,408,608",51069.0,Europe & Central Asia
35453,Switzerland,2006,81.5,"7,480,317",52786.0,Europe & Central Asia
35454,Switzerland,2007,81.7,"7,560,141",54483.0,Europe & Central Asia
35455,Switzerland,2008,81.9,"7,646,542",55020.0,Europe & Central Asia
35456,Switzerland,2009,82.1,"7,737,316",53179.0,Europe & Central Asia
35457,Switzerland,2010,82.3,"7,830,534",54183.0,Europe & Central Asia
35458,Switzerland,2011,82.5,"7,925,813",54551.0,Europe & Central Asia
35459,Switzerland,2012,82.6,"8,022,628",54573.0,Europe & Central Asia
35460,Switzerland,2013,82.7,"8,118,719",54983.0,Europe & Central Asia
35461,Switzerland,2014,82.8,"8,211,383",55776.0,Europe & Central Asia
35462,Switzerland,2015,82.9,"8,298,663",56118.0,Europe & Central Asia

In [46]:
arr = [1,2,3,4,5]

In [47]:
arr[x in x>3]

NameError: name 'x' is not defined

In [48]:
arr[>3]

SyntaxError: invalid syntax (<ipython-input-48-6b321340ea3f>, line 1)

In [51]:
arr = [{'a':1}, {'a':2}]
arr[arr['a'>1]]

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
df.head()